body > aside {
    top: 0;
    width: 15rem;
    height: 100%;
    position: fixed;
    z-index: 0;
}

body > aside ul,
body > aside section {
    border-bottom: 0.0625rem solid #e5e5e5;
}

body > aside ul {
    padding: 0.75rem 0;
}

body > aside section {
    padding: 1rem 2rem;
}

body > aside ul > li {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6125rem 1.75rem;
}

body > aside ul > li:hover {
    background-color: #f0f0f0;
}

body > aside ul > li.selected {
    background-color: #cacaca;
}

body > aside ul > li.selected:hover {
    background-color: #c0c0c0;
}

body > aside ul > li.title {
    cursor: default;
    color: #606060;
    font-weight: 500;
    padding: 0 1.75rem 0.6125rem 1.75rem;
}

body > aside ul > li.title:hover {
    background-color: inherit;
}

body > aside ul > li > span:nth-child(1) {
    width: 1.33rem;
    height: 1.33rem;
    display: inline-block;
    margin-right: 1.33rem;
}

body > aside section.copyright {
    color: #606060;
    font-size: 0.75rem;
}

body > aside section.copyright > div {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body > aside section.copyright > div > a {
    margin-right: 0.5rem;
}

body > aside section.copyright > *:not(:last-child) {
    margin-bottom: 0.625rem;
}

/* icon */
body > aside > ul.F1 > li:nth-child(1) > span:nth-child(1){
    background-image: url("../icon/home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

body > aside > ul.F1 > li:nth-child(2) > span:nth-child(1){
    background-image: url("../icon/popularity.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
